{% extends "index.html" %}

{% block body %}
{% include "nav.html" %}
    <div class="ui internally celled grid book">
        <div class="row">
            <div class="four wide column center aligned">
                <img src="../static/placeholder.jpg" alt="placeholder"/>
                <p>Rated {{average_rating}}/5 on Good Reads</p>                   
            </div>
            <div class="twelve wide column center">
                <h2>{{ book.title }}</h2>
                <h4>{{ book.author }}, 1973</h4>
            </div>
        </div>
        <div class="row">
            <div class="four wide column center aligned">
                <p>Leave a review...</p>
            </div>
            <div class="twelve wide column">
                <form class="ui form" method="POST">
                    <div class="field" style="color: rgb(195,106,45)">
                        <label>Rate the book out of 5:</label>
                    </div>
                    <div class="inline fields">
                        <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="rating" value="1" tabindex="0">
                            <label>1</label>
                        </div>
                        </div>
                        <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="rating" value="2" tabindex="0">
                            <label>2</label>
                        </div>
                        </div>
                        <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="rating" value="3" tabindex="0">
                            <label>3</label>
                        </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="rating" value="4" tabindex="0">
                                <label>4</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="rating" value="5" tabindex="0">
                                <label>5</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Add a comment:</label>
                        <textarea name="comment" rows="3"></textarea>
                    </div>
                    <div class="ui labeled icon buttons">
                        <button class="ui button" style="background-color: rgb(234, 220, 166);">
                            <i class="edit icon" style="background-color: rgb(195,106,45);"></i>
                            {% if user_review %}
                            Replace your review
                            {% else %}
                            Create review
                            {% endif %}
                        </button>
                    </div>
                </form>
                {% if review_error %}
                    <div class="ui error message">
                        <div class="header">
                            There was an error with your submission!
                        </div>
                        <ul class="list">
                            <li>{{ review_error }}</li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if reviews %}
            {% for review in reviews %}
                <div class="row">
                    <div class="four wide column">
                        <div class="ui cards">
                            <div class="card">
                                <div class="content">
                                <div class="header">{{review.first_name}} {{review.last_name}}</div>
                                <div class="description">
                                    This review was left on {{review.review_timestamp.strftime('%Y-%m-%d') }}.
                                </div>
                                </div>
                            </div>
                        </div>                 
                    </div>
                    <div class="twelve wide column center">
                        <h2>{{review.rating}} out of 5 stars.</h2>
                        <p>{{review.review_comment}}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>

{% include "footer.html"%}
{% endblock %}