<!-- Grid div -->

<div class="ui internally celled grid" style="padding: 20px 20%;">

    <!-- Filter List -->
    <div class="row">

        <!-- Scroll Div -->

        <div class="sixteen wide column">

            <div style="overflow: scroll; height:600px">
                
                <!-- Card -->
                {% for book in books %}
                <div id="bookList">
                    <div class="ui raised segment" id="flightList" style="margin-bottom: 1rem; margin-right: 1rem;">
                        <div class="ui internally celled grid">
                            <div class="row">
                                <div class="four wide column center aligned">
                                    <img src="../static/placeholder.jpg" alt="placeholder"/>
                                    <p>4.5/5 (504 ratings)</p>                   
                                </div>
                                <div class="twelve wide column">
                                    <h2>{{book.title}}</h2>
                                    <h5>Written by {{book.author}} in {{book.year}}</h5>
                                    <a class="follow-link">See reviews...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- end card -->
            </div>
        </div>
    </div>
</div>
