<div class="ui" style="padding-top: 20px">
    <div class="ui equal width internally celled padded grid" style="background-color: rgb(195,106,45); padding: 20px 20%;">
        <div class="row">
            <div class="padded column" style="color: #fafafa">
                <a style="font-size: 1rem; font-weight: normal; margin-bottom: 1em;" href={{url_for('api_info')}}>API acess</a>
            </div>
            <div class="padded column" style="display: flex; flex-direction: column; align-items: flex-end; color: #fafafa">
                    <a style="font-size: 1rem; font-weight: normal; margin-bottom: 1em;" href="https://docs.cs50.net/web/2020/x/projects/1/project1.html">cs50 project description</a>
                <a style="font-size: 1rem; font-weight: normal;" href="https://github.com/marklawrence97/cs50-books">Github source code</a>
            </div>
        </div>
    </div>          
</div>