<div class="ui" style="padding-top: 20px">
    <div class="ui equal width internally celled padded grid" style="background-color: rgb(195,106,45); padding: 20px 20%;">
        <div class="row">
            <div class="padded column" style="color: #fafafa">
                <p>API access</p>
                <p>Information</p>
            </div>
            <div class="padded column" style="display: flex; flex-direction: column; align-items: flex-end; color: #fafafa">
                <p>cs50 project description</p>
                <p>Github source code</p>
            </div>
        </div>
    </div>          
</div>