{% extends "index.html" %}

{% block body %}
<div class="Jumbotron">
    <div class="overlay-home">
        <div class="navHeaderBox">
            <nav style="height: 30%">
                <a href={{url_for('home')}}>
                    cs50 books
                </a>
                <a href={{url_for('logout')}}>
                    Log out
                </a>
            </nav>
            <div>
                <h3>Hi {{user}}, welcome to</h3>
                <h1>
                    cs50 books
                </h1>
                <h3>Search for information and opinions on your favourite books...</h3>
            </div>
        </div>
    </div>
</div>
<div class="searchBox">
    <div class="search" style="border: black;">
        <form method="POST">
            <div class="ui labeled action huge input">
                    <label for="query" class="ui label light-bg"><i class="book icon"></i></label>
                    <input type="text" name="query" placeholder="Search books...">
                    <button type="submit" class="ui button dark-bg">Search</button>
            </div>
        </form>
    </div>
</div>
{% include "bookGrid.html" %}
{% include "footer.html" %}
{% endblock %}