{% extends "index.html" %}
{% block body %}
<div class="ui container formBox">
    <div class="center">
        <h1>
            cs50 books
        </h1>
    </div>
    <form class="ui form">
    <div class="field">
        <label>Username:</label>
        <input type="text" name="first-name" placeholder="First Name">
    </div>
    <div class="field">
        <label>Password:</label>
        <input type="text" name="last-name" placeholder="Last Name">
    </div>
    <div class="center">
        <button class="ui sign-up" style="border: black;">Log in</button>
    </div>
    </form>
</div>
{% endblock %}
