{% extends "index.html" %}

{% block body %}
<div class="ui containerBox">
    <div class="headerBox">
        <div class="overlay">
            <h1>
                cs50 books
            </h1>
            <h3>
                My solution for cs50 web <br/> programming project 1.
            </h3>
        </div>
    </div>
    <div class="loginBox">
        <a class="ui log-in" href={{url_for('login')}}>Log in</a>
        <a class="ui sign-up" href={{url_for('register')}}>Register</a>
    </div>
</div>
{% endblock %}